{% extends 'layout.html' %} 
{% load static %}

{% block link %}
  <link rel="stylesheet" href="{% static 'djangoapp/css/style.css' %} ">
{% endblock link %}

{% block content %}
<main class="groups">
    <div class="menu">
      <h4 class="menu__title">Группы</h4>
      <hr size="3rem" color="E5E5E5">
      <div class="menu__list">
        <div class="menu__toggle-page">
          <img class='icon' src="{% static 'djangoapp/icons/toggle.svg' %}" alt="">
          <a class="menu__list-elem" href="{% url 'materials' %}">Материалы</a>
        </div>
        {% if groups %} {% for group in groups %}
          <a class="menu__list-elem" href="{% url 'groups' %}?group={{group.id}}">{{ group.title }}</a>
        {% endfor %} {% else %}
          <p>Группы отсутствуют</p>
        {% endif %}
      </div>
    </div>

    <div class="user-info">
      <div>
        {% if auth_user %}
        <p class="user-info__role">{{ auth_user.role.alias }}</p>
        <p class="user-info__name">{{ auth_user.name }} {{ auth_user.surname }}</p>
        {% else %}
          <p>Информация отсутствует</p>
        {% endif %}
      </div>
      <img class='icon' src="{% static 'djangoapp/icons/exit.svg' %}" alt="" srcset="">
    </div>

    <div class="upload-works">
      <h4 class="upload-works__title">Загруженные работы</h4>
      <div class="upload-works__list">
        {% if files %} 
          {% for file in files %}
            <div class="upload-works__list-item">
              <div class="upload-works__text-block">
                <p class="upload-works__text">{{ file.title }}</p>
                <p class="upload-works__text">{{ file.author.name }} {{ file.author.surname }}</p>
              </div>
              <a class="link-wrapper" href="{% url 'download' file.url %}" download="{{ file.title }}">
                <button class="button-wrapper" type="button">
                  <img class='icon' src="{% static 'djangoapp/icons/download.svg' %}" alt="" srcset="">
                </button>
              </a>
            </div>
          {% endfor %} {% else %}
            <p>Загруженные работы отсутствуют</p>
        {% endif %}
      </div>
  </div>
</main>

{% endblock content %}
