{% extends 'layout.html' %} 
{% load static %}

{% block link %}
  <link rel="stylesheet" href="{% static 'djangoapp/css/style.css' %} ">
{% endblock link %}

{% block content %}
<main class="works">
  <div class="menu">
    <h4 class="menu__title">Преподаватели</h4>
    <hr class="menu__hr" size="3rem" color="E5E5E5">
    <div class="menu__list">
      {% if users %} 
      {% for user in users %}
        <a class="menu__list-elem" href="{% url 'works' %}?teacher={{user.id}}">{{ user.name }} {{ user.patronymic }}</a>
      {% endfor %} 
      {% else %}
        <p>Группы отсутствуют</p>
      {% endif %}
    </div>
  </div>

  <div class="user-info">
    <div>
      {% if auth_user %}
        <p class="user__role">{{ auth_user.role.alias }}</p>
        <p class="user__group">{{ auth_user.group_set.all.0.title }}</p>
        <p class="user__name">{{ auth_user.name }} {{ auth_user.surname }}</p>
      {% else %}
        <p>Информация отсутствует</p>
      {% endif %}
    </div>
    <a href="{% url 'logout' %}"><img class='icon' src="{% static 'djangoapp/icons/exit.svg' %}" alt="" srcset=""></a> 
  </div>

  <div class="methodic">
    <h4 class="methodic__title methodic__title--works">Методические материалы</h4>
    <div class="methodic__list methodic__list--works">
      {% if files_materials %} 
        {% for file in files_materials %}
          <div class="methodic__list-item">
              <p class="methodic__text">{{ file.title }}</p>
              <a class="link-wrapper" href="{% url 'download' file.url %}" download="{{ file.title }}">
                <img class='icon' src="{% static 'djangoapp/icons/download.svg' %}" alt="" srcset="">
              </a>
          </div>
        {% endfor %} 
      {% else %}
        <p class="methodic__list-item methodic__list-item--undefined">Методические материалы отсутствуют</p>
      {% endif %}
    </div>
  </div>

  <div class="upload-works upload-works--works">
    <h4 class="upload-works__title upload-works__title--works">Загруженные работы</h4>
    <div class="upload-works__list">
      {% if files_works %} 
        {% for file in files_works %}
          <div class="upload-works__list-item upload-works__list-item--works">
            <div class="upload-works__text-block">
              <p class="upload-works__text upload-works__text--works">{{ file.title }}</p>
              <p class="upload-works__text">{{ file.author.name }} {{ file.author.surname }}</p>
            </div>
            <a class="link-wrapper" href="{% url 'download' file.url %}" download="{{ file.title }}">
              <button class="button-wrapper" type="button">
                <img class='icon' src="{% static 'djangoapp/icons/download.svg' %}" alt="" srcset="">
              </button>
            </a>
            <form class="form-wrapper" action="{% url 'delete' file.id %}" method="post">
              {% csrf_token %}
              <button class="button-wrapper" type="submit">
                <img class='icon' src="{% static 'djangoapp/icons/delete.svg' %}" alt="" srcset="">
              </button>
            </form>
          </div>
        {% endfor %} {% else %}
          <p class="upload-works__list-item upload-works__list-item--undefined">Загруженные работы отсутствуют</p>
      {% endif %}
    </div>
  </div>

  <div class="file-zone">
    <div class="file-zone__uploaded-files">
      <h3 class="file-zone__title">Сданные работы: </h3>
      <div class="file-zone__file-list">
      </div>
    </div>
    <form class="file-zone__button-form" action="{% url 'upload-work' teacher_id %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <label class="button load__label load__button--active" for="file-input">Выбрать файл</label>
      <input id="file-input" data-is-disabled="{{ download_access }}" class="load__input" type="file" multiple="multiple" name="work" required />
      <button class="button load__button" type="submit" disabled>Загрузить работу</button>
    </form>
  </div>
  <div id="js-data" style="diplay: hidden">{{ access_teachers }}</div>

  <script src="{% static 'djangoapp/js/index.js' %}"></script>
</main>

{% endblock content %}
