{% extends 'layout.html' %} 
{% load static %}

{% block link %}
  <link rel="stylesheet" href="{% static 'djangoapp/css/style.css' %} ">
{% endblock link %}


{% block content %}
<main class="works">
  <div class="menu">
    <h4 class="menu__title">Преподаватели</h4>
    <hr size="3rem" color="E5E5E5">
    <div class="menu__list">
      {% if users %} 
      {% for user in users %}
        <a class="menu__list-elem" href="{% url 'works' %}?teacher={{user.id}}">{{ user.name }} {{ user.patronymic }}</a>
      {% endfor %} 
      {% else %}
        <p>Группы отсутствуют</p>
      {% endif %}
    </div>
  </div>

  <div class="user-info">
    <div>
      {% if auth_user %}
        <p class="user__role">{{ auth_user.role.alias }}</p>
        <p class="user__group">{{ auth_user.group_set.all.0.title }}</p>
        <p class="user__name">{{ auth_user.name }} {{ auth_user.surname }}</p>
      {% else %}
        <p>Информация отсутствует</p>
      {% endif %}
    </div>
    <img class='icon' src="{% static 'djangoapp/icons/exit.svg' %}" alt="" srcset="">
  </div>

  <div class="methodic">
    <h4 class="methodic__title">Методические материалы</h4>
    <div class="methodic__list">
      {% if files %} 
        {% for file in files %}
          <div class="methodic__list-item">
              <p class="methodic__text">{{ file.title }}</p>
              <a class="link-wrapper" href="{% url 'download' file.url %}" download="{{ file.title }}">
                <img class='icon' src="{% static 'djangoapp/icons/download.svg' %}" alt="" srcset="">
              </a>
          </div>
        {% endfor %} 
      {% else %}
        <p>Методические материалы отсутствуют</p>
      {% endif %}
    </div>
  </div>

  <div class="file-zone">
    <div class="file-zone__uploaded-files">
      <h3 class="file-zone__title">Сданные работы: </h3>
    </div>
    <form class="file-zone__button-form" action="{% url 'upload-work' teacher_id %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <label class="button load__label" for="file-input">Выбрать файл</label>
      <input id="file-input" class="load__input" type="file" name="work" required />
      <button class="button load__button" type="submit" disabled>Загрузить работу</button>
    </form>
  </div>

  <script src="{% static 'djangoapp/js/index.js' %}"></script>
</main>

{% endblock content %}
