@import url('./normalize.css');
@import url('./color.css');
@import url('./scrollbar.css');
@import url('./components/button.css');
@import url('./components/select.css');
@import url('./components/icon.css');


a {
  color: var(--white);
  text-decoration: none;
}

a:visited {
  color: inherit;
}

html {
  font-size: 10px;
  height: 100%;
  width: 100%;
  font-family: 'Mulish', sans-serif;
}

body,
main {
  height: 100%;
  width: 100%;
  background: var(--white);
}

* {
  user-select: none;
}

/* * {
  outline: solid red;
} */