@import url('./normalize.css');
@import url('./components/button.css');
@import url('./components/icon.css');

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

html {
  font-size: 10px;
  height: 100%;
  width: 100%;
  font-family: 'Mulish', sans-serif;
}

body,
main {
  height: 100%;
  width: 100%;
}

/* * {
  outline: solid red;
} */