.groups {
  background-color: #e5e5e5;
  color: #3d3d3d;
  font-size: 10px;
}

.page__for-tutors {
  grid-template-columns: 3.5fr 8fr 3fr;
}

.page__btn-for-stud {
  grid-row: 2/3;
  grid-column: 3/4;
}

.page__file-zone {
  grid-row: 2/3;
  grid-column: 2/3;
  background-color: #cbcbcb;
  border-radius: 0 0.8rem 0 0;
}

.page__metodic-download {
  border: none;
  background: transparent;
}
