@import './groups.css';
@import './materials.css';
@import './works.css';
@import './components/menu.css';
@import './components/methodic.css';
@import './components/user-info.css';
@import './components/upload-works.css';
@import './components/load.css';
@import './components/file-zone.css';

.button-wrapper,
.form-wrapper,
.link-wrapper {
  color: transparent;
  background: transparent;
  border: none;
  width: fit-content;
  height: fit-content;
  padding: 0;
  margin: 0;
}