.load__input {
  display: none;
}

.load__button {
  background: var(--gray);
  cursor: default;
}

.load__button:hover {
  filter: none;
}

.load__button:active {
  filter: none;
}

.load__button--active {
  background: var(--green);
  cursor: pointer;
}

.load__button--active:hover {
  filter: brightness(1.1);
}

.load__button--active:active {
  filter: brightness(0.9);
}