.load__input {
  display: none;
}

.load__input--title {
  background: var(--white-light);
  height: 3.8rem;
  border-radius: 0.8rem;
  border: 0.1rem solid var(--black);
  font-size: 1.6rem;
  padding-left: 1rem;
  min-width: 20rem;
}

.load__button,
.load__label {
  background: var(--gray);
  cursor: default;
}

.load__button:hover,
.load__label:hover {
  filter: none;
}

.load__button:active,
.load__label:active {
  filter: none;
}

.load__button--active {
  background: var(--green);
  cursor: pointer;
}

.load__button--active:hover {
  filter: brightness(1.1);
}

.load__button--active:active {
  filter: brightness(0.9);
}