.user-info {
  grid-row: 2/3;
  background-color: var(--green-dark);
  display: flex;
  align-items: end;
  justify-content: space-between;
  padding: 1rem;
  color: var(--white);
  font-size: 1.8rem;
}