{% extends 'layout.html' %}

{% block content %}

  {% if errors %}
    <p>{{ errors }}</p>
  {% endif %}

  <form action="{% url 'register' %}" method="post">
    {% csrf_token %}
    <label for="login">Логин</label>
    <input id="login" name="login" type="text" required/>
    <label for="password">Пароль</label>
    <input id="password" name="password" type="password" required />
    <label for="name">Имя</label>
    <input id="name" name="name" type="text" required />
    <label for="surname">Фамилия</label>
    <input id="surname" name="surname" type="text" required />
    <label for="patronymic">Отчество</label>
    <input id="patronymic" name="patronymic" type="text" />
    <button type="submit">Зарегистрироваться</button>
  </form>
{% endblock content %}

