.select {
  width: fit-content;
  min-width: 20rem;
  background-color: #5dcec6;
  color: #e5e5e5;
  font-size: 1.8rem;
  border: none;
  border-radius: 0.8rem;
  margin: 2rem 0.5rem 1rem 0.5rem;
  padding: 1rem 2rem;
  box-sizing: border-box;
  cursor: pointer;
  transition: filter 0.1s ease-in-out;
}

.select:focus {
  outline: none;
}

.select:hover {
  filter: brightness(1.1);
}

.select:active {
  filter: brightness(0.9);
}